@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css?family=Prata');
html {
    overflow: scroll;
    overflow-x: hidden;

	 ::-webkit-scrollbar {
	    width: 0px;  //remove scrollbar space
	    background: transparent;  
	    //optional: just make scrollbar invisible
	 }
	//optional: show position indicator in red
 	::-webkit-scrollbar-thumb {
    background: #FF0000;
}  
	body {
		padding:0;
		margin:0;
		font-weight:300;
		font-size:14px;
		font-family: 'Cormorant Garamond', serif;
		#logo {
			position: fixed;
			top:0;
			left:50%;
			transform: translate(-50%, 50px);
			width:160px;
			z-index:11;
			svg {
				fill:#fff;
			}
			&.inProject {
				svg {
					fill:#000;
				}
			}
		}
		.section-nav {
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    position:fixed;
		    z-index:10;
			#sectionNav {
			  position: absolute;
			  top: 50px;
			  left: 100px;
			  width: 32px;
			  height: 20px;
			  outline: none;
			  background:none;
			  padding:0;
			  margin:0;
			  border:0;
		      z-index:11;
			  .menubar {
			    width: 100%;
			    height: 1px;
			    position: absolute;
			    background: #333;
			    border-radius: 0.25rem;
			    outline: none;
			    &.one {
			      top: 0;
			    }
			    &.two, &.three {
			      top: 50%;
			      transform: translateY(-50%);
			    }
			    &.four {
			      bottom: 0;
			    }
			  }
			}
			
			.section-nav-text {
				opacity:0;
				visibility:hidden;
				a {
					color:#e4e4e4;
					padding:0 30px;
					text-decoration: none;
					font-size:2rem;
					z-index:10;
				}
				.tweenImg {
					position: absolute;
					width:100%;
					height:100%;
					top:0;right:0;bottom:0;left:0;
					img {
						position: absolute;
						width:400px;
						height:300px;
						background:#fff;
						top:50%;
						left:50%;
						transform: translate(-50%,-50%);
					}
				}
			}
		}
	}
		#main {
		&.page {
			background:#343434;
			position: fixed;
			width:100vw;
			height:100vh;
			max-width:100%;
			max-height:100%;
			overflow-y: scroll;
			#intro {
				.wrapper {
					.vSlide {
						position: relative;
						width:100vw;
						max-width:100%;
						height:100vh;
						max-height:100%;
						transition: all 2s ease-in-out;
					    text-align: center;
					    z-index:10;
					    overflow:hidden;
						.img {
							position: absolute;
							top:50%;
							left:50%;
							width:500px;
							height: calc(500px * 1120 / 800);
							transform: translate(-50%, -50%);
					 		overflow: hidden;
							background-size: cover;
						    background-position: center; 
						    opacity:0;
						    visibility: hidden;
						}
						h1 {
							position: absolute;
							top: 50%;
							left: 50%;
							width:100%;
							text-align: center;
						    transform: translate(-50%, -100px);
							font-size: 80px;
							color:#fff;
							font-family: 'Prata', serif;
							text-transform: capitalize;	
						    opacity:0;
						    visibility: hidden;
						}
					}
				}
				#slider-navi {
					position: fixed;
					top:50%;
					left:50%;
					transform: rotate(90deg) translate(300px, -350px);
					display: block;
					z-index:11;
					& > div {
						color:#fff;
						display: inline;
					}
				}
				#viewall {
					position: fixed;
					top:50%;
					left:50%;
					transform: rotate(-90deg) translate(300px, -420px);
					display: block;
					z-index:11;
					& > a {
						color:#fff;
						display: inline;
					}
				}
				#circle {
					svg {
						position:fixed;
						top:50%;
						left:50%;
						transform:translate(-50%, -50%);
						width:50%;
						circle {
							fill: none;
							stroke:#434343;
							stroke-width:.1;
						}
					}
				}
			}
		}
	}
}
