@import url("https://fonts.googleapis.com/css?family=Roboto");
html {
  overflow: scroll;
  overflow-x: hidden;
  /* ::-webkit-scrollbar {
      width: 0px;  //remove scrollbar space
      background: transparent;  
      //optional: just make scrollbar invisible
   }*/
  /* 	::-webkit-scrollbar-thumb {
      background: #FF0000;
  }  */ }
  html body {
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    font-family: 'Roboto', sans-serif; }
    html body #logo {
      position: fixed;
      top: 0;
      left: 50%;
      transform: translate(-50%, 55px);
      width: 200px;
      z-index: 11; }
      html body #logo svg {
        fill: #fff; }
    html body .section-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      z-index: 10; }
      html body .section-nav #sectionNav {
        position: absolute;
        top: 50px;
        left: 50px;
        width: 32px;
        height: 20px;
        outline: none;
        background: none;
        padding: 0;
        margin: 0;
        border: 0;
        z-index: 11; }
        html body .section-nav #sectionNav .menubar {
          width: 100%;
          height: 2px;
          position: absolute;
          background: #333;
          border-radius: 0.25rem;
          outline: none; }
          html body .section-nav #sectionNav .menubar.one {
            top: 0; }
          html body .section-nav #sectionNav .menubar.two, html body .section-nav #sectionNav .menubar.three {
            top: 50%;
            transform: translateY(-50%); }
          html body .section-nav #sectionNav .menubar.four {
            bottom: 0; }
      html body .section-nav .section-nav-text {
        opacity: 0;
        visibility: hidden; }
        html body .section-nav .section-nav-text a {
          color: #e4e4e4;
          padding: 0 30px;
          text-decoration: none;
          font-size: 2rem;
          z-index: 10; }
        html body .section-nav .section-nav-text .tweenImg {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0; }
          html body .section-nav .section-nav-text .tweenImg img {
            position: absolute;
            width: 400px;
            height: 300px;
            background: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
  html .page {
    visibility: visible;
    opacity: 1;
    display: block;
    width: 100%; }
    html .page #projectsNavi {
      overflow-x: hidden; }
      html .page #projectsNavi .wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-flow: row nowrap;
        flex-direction: row;
        justify-content: space-between;
        white-space: nowrap;
        width: 1200px;
        display: flex; }
        html .page #projectsNavi .wrapper::-webkit-scrollbar {
          display: none; }
        html .page #projectsNavi .wrapper .depth {
          position: relative;
          overflow: hidden;
          opacity: 0;
          visibility: hidden;
          height: 480px;
          max-width: 270px;
          margin: 20px;
          flex: 0 0 auto;
          display: block; }
          html .page #projectsNavi .wrapper .depth img {
            overflow: hidden;
            width: 100%; }
          html .page #projectsNavi .wrapper .depth a {
            text-align: center;
            display: block; }
  html #main {
    background: #121212; }
    html #main.page {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
      html #main.page #intro {
        width: 100%;
        height: 100%; }
        html #main.page #intro .wrapper {
          width: 500px;
          left: calc(50% - 250px);
          transform: translate(-50%, -50%);
          position: absolute; }
          html #main.page #intro .wrapper .vSlide {
            overflow: hidden;
            position: relative;
            transition: all 2s ease-in-out;
            text-align: center;
            font-size: 18px;
            /* Center slide text vertically */
            display: flex;
            justify-content: center;
            align-items: center; }
            html #main.page #intro .wrapper .vSlide img {
              width: 100%;
              display: block; }
            html #main.page #intro .wrapper .vSlide h1 {
              position: absolute;
              top: 50%;
              left: 50%;
              width: 100%;
              text-align: center;
              transform: translate(-50%, -50%); }
            html #main.page #intro .wrapper .vSlide .heading-1 {
              font-size: 50px; }
            html #main.page #intro .wrapper .vSlide:hover {
              transform: scale(1.1);
              color: #fff; }
        html #main.page #intro .swiper-navi {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: rotate(90deg) translate(300px, -250px);
          display: block; }
          html #main.page #intro .swiper-navi > div {
            color: #fff;
            display: inline; }

/*# sourceMappingURL=main.css.map */
