@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
	padding:0;
	margin:0;
	font-size:14px;
	font-family: 'Roboto', sans-serif;
}
.section-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    z-index:10;
	#sectionNav {
	  position: absolute;
	  top: 50px;
	  left: 50px;
	  width: 32px;
	  height: 20px;
	  outline: none;
	  background:none;
	  padding:0;
	  margin:0;
	  border:0;
      z-index:11;
	  .menubar {
	    width: 100%;
	    height: 0.25rem;
	    position: absolute;
	    background: #333;
	    border-radius: 0.25rem;
	    outline: none;
	    &.one {
	      top: 0;
	    }
	    &.two, &.three {
	      top: 50%;
	      transform: translateY(-50%);
	    }
	    &.four {
	      bottom: 0;
	    }
	  }
	}
	.section-nav-text {
		opacity:0;
		visibility:hidden;
		a {
			color:#e4e4e4;
			padding:0 30px;
			text-decoration: none;
			font-size:2rem;
			z-index:10;
		}
		.tweenImg {
			position:absolute;
			width:100%;
			height:100%;
			top:0;right:0;bottom:0;left:0;
			img {
				position:absolute;
				width:400px;
				height:300px;
				background:#fff;
				top:50%;
				left:50%;
				transform:translate(-50%,-50%);
			}
		}
	}
}

#projects {
	// visiblity:hidden;
	// opacity:0;
	// display:none;
	&.page {
		visibility:visible;
		opacity:1;
		display:block;
		.wrapper {
			display: flex;
			width:1200px;
			position: absolute;
			top:50%;
			left:50%;
			transform:translate(-50%, -50%);
		    flex-flow: row nowrap;
		    flex-direction: row;
		    justify-content: space-between;
		    overflow-x: scroll;
		  	overflow-y: hidden;
			white-space: nowrap;
	        &::-webkit-scrollbar {
	   			display: none;
	  		}
			.depth {
				height: 300px;
				max-width:300px;
				margin:20px;
				flex: 0 0 auto;
				display:block;
				a {
					text-align: center;
					display: block;
				}
			}
		}
	}
}
